
/*this is a comment*/
body {
    margin: 0px;
    margin-left: 0px;
}
/*this is a comment*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(122, 122, 122);
}
/*this is a comment*/
nav h1 {
    color: rgb(255, 255, 255);
}
/*this is a comment*/
ul {
    display:flex;
    justify-content: space-around;
    width: 30%;
}
/*this is a comment*/
nav a {
    color: ghostwhite;
    text-decoration: none;
    font-weight: bold;
}
/*this is a comment*/
nav li{
    list-style: none;
    font-size: 15px;
    letter-spacing: 2px;
}

/*this is a comment*/
div h2 {
    text-align: center;
}
/*this is a comment*/
div p {
   text-align: center;
}
/*this is a comment*/
div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
/*this is a comment*/
.img-wrap{
    background-color: black;

}
/*this is a comment*/
.img-wrap2{
    display: block;
    background-color: rgb(216, 205, 205);
    padding-top: 15px;
    padding-bottom: 30px;
}
/*this is a comment*/

form {
    text-align: center;
    background-color: rgb(211, 247, 247);
    padding-top: 50px;
    padding-bottom: 50px;
}
/*this is a comment*/
#form-wrap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
}
/*this is a comment*/
input {
    border-radius: 40px;
}
/*this is a comment*/
table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border:1px solid black;
    margin-top: 30px;
    padding: 10px;
    margin-bottom: 30px;
    
    
}
/*this is a comment*/
tr,td,th {
    border: 1px solid rgb(0, 0, 0);
    padding: 3px;
    
}
/*this is a comment*/
button {
    border-radius: 50px;
    border-color: rgb(107, 107, 107);
    padding: 5px;
    width: 85px;
    margin-top: 20px;
}
